<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="row">
            <div class="col-md-10">
              <div class="card-body">
                <h4 class="card-title">My Pets</h4>
                <p class="card-description">Manage your lost & found pets.</p>
                <p class="card-description">We're sorry, we have no pets with these search criteria. Please broaden your search and try again.</p>
                <h4 class="card-title">Add New Pet</h4>
                <p class="card-description">Report a new lost or found pet. Please do not add the same pet more than once.</p>
                <div class="template-demo mt-4">
                  <button type="button" class="btn btn-danger btn-lg">Add my pet that is lost</button>
                  <button type="button" class="btn btn-success btn-lg">Add a Found/Stay pet</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
  </div>